<p id="notice"><%= notice %></p>

<head></head>
<Body>
    <h1>Games</h1>
    <br>
    <a href="coaches">lol</a>
    <br>
    <a href="coaches">dota2</a>
    <br>
    <a href="coaches">cs</a>
    <br>
    
    </Body> 

<<<<<<< HEAD
</Html> 
=======
<a href="coaches">League of Legends</a>
<a href="coaches">Dota2</a>
<a href="coaches">CS:GO</a>
    
>>>>>>> 4ac47c9df2f0bd902a07e748bc9860d0f2f529ee


