<p id="notice"><%= notice %></p>

<head></head>
<Body>
    <h1>Games</h1>
    <br>
    <a href="games">lol</a>
    <br>
    <a href="games">dota2</a>
    <br>
    <a href="games">cs</a>
    <br>
    
    </Body> 

</Html> 


