<p id="notice"><%= notice %></p>

<head></head>
<Body>
    <h1>Games</h1>
    <br>
    <a href="coaches">lol</a>
    <br>
    <a href="coaches">dota2</a>
    <br>
    <a href="coaches">cs</a>
    <br>
    
    </Body> 
