<p id="notice"><%= notice %></p>

<head></head>
<Body>
    <h1>Games</h1>
    <br>
    <%= link_to 'lol', coaches_path('lol') %>
    <br>
    <%= link_to 'dota2', coaches_path('dota2') %>
    <br>
    <%= link_to 'cs', coaches_path('cs') %>
    <br>
    
    </Body> 
