%h1 Root#index
%p Agora temos uma página inicial pra facilitar testar as páginas sem precisar escrever na url =D


%a{href: "login"} Login
%br/
%a{href: "register"} Registrar
%br/
%a{href: "whoami"} Quem sou eu?
%br/
%a{href: "me"} Área pessoal
%br/