/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background-color: #ddd;
    font-size: 18px;
    font-family: slight;
    color: #444;
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
    text-align: center;
    width: 8000px;
    margin: auto;
}

input, textarea, button{
    border-radius: 5px;
    font-size: 18px;
    font-family: light;
    color: #5f1010;
    border-width: 1px;
    border-color: #aaa;
    border-style: solid;
    width: 300px;
    box-shadow: 0px 0px 5px 0px #00000020;
    margin: 5px;
    padding: 0px;
}

 input{
    height: 25px;
    text-align: center;
    padding: 2px
}

input[type=submit], button{
    width: 150px;
    height: 30px;
    background-color: #e4a3a3;
}

input[type=submit]:hover, button:hover{
    width: 150px;
    height: 30px;
    background-color: #d48181;
}

textarea{
   padding: 2px
}

label{
    font-size: 15px;
    font-family: sbold;
}

h1{
    font-family: bold;
    color: #5f1010;
}