<p id="notice"><%= notice %></p>

<head></head>
<Body>
    <h1>Meus Alunos</h1>
    <br>
    <a href="meus_alunos">Antonio</a>
    <br>
    <a href="meus_alunos">Silvia</a>
    <br>
    <a href="meus_alunos">Clara</a>
    <br>
    
    </Body> 
</Html> 